@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    transition: overflow 0.3s ease;
}

.blue-to-whiteIcon {
    color: #050794;
}

.blue-to-whiteIcon:hover {
    color: #fff;
}

.scrollBar::-webkit-scrollbar {
    display: none;
}

.testimonial-carousel::-webkit-scrollbar {
    visibility: hidden;
}

.animate-scroll:hover {
    animation-play-state: paused;
}

.banner-wrapper {
    cursor: pointer;
    width: 100%;
}

.banner-wrapper .wrapper {
    display: flex;
    overflow: hidden;
}

.banner-wrapper .wrapper .cards {
    display: flex;
    flex-shrink: 0;
    animation: swipe 50000ms linear infinite;
    width: auto;
}

.banner-wrapper:hover .wrapper .cards {
    animation-play-state: paused;
}

.card {
    margin-right: 40px;
}

@keyframes swipe {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.sellingCard {
    transform-style: preserve-3d;
    border: 1px solid transparent;
    /* animation: borderHighlight 2s linear infinite; */
}

@keyframes borderHighlight {
    0% {
        transform: scale(1);
    }
    25% {
      /* box-shadow: 1px 0 0 0 #f58c4f, 0 1px 0 0 #f58c4f, -1px 0 0 0 transparent, 0 -1px 0 0 transparent; Top orange, right side orange */
    }
    50% {
      transform: scale(0.9); /* Yellow */
    }
    100% {
        transform: scale(1);
    }
  }

.sellingCard.flip {
    transform: perspective(300px) rotateY(180deg);
}

.selling-card-front {
    backface-visibility: hidden;
}

.selling-card-back {
    transform: rotateY(180deg);
}

.sellingCard:nth-child(2n+1) .selling-card-back {
    background-color: #0020F1;
}

.sellingCard:nth-child(2n) .selling-card-back {
    background-color: #000;
}

/* Outreach page css */
.background-text:hover {
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    cursor: pointer;
}

@media (min-aspect-ration: 16/9) {
    .background-video {
        width: 100%;
        height: auto;
    }
} 
@media (max-aspect-ration: 16/9) {
    .background-video {
        width: auto;
        height: 100%;
    }
} 